* {
  font-family: Oswald;
  width: 375px;
  height: 812px;
  position: relative;
}

.btn {
  position: absolute;
  left: 15.2%;
  right: 5.33%;
  top: 60.3%;
  bottom: 33%;
  background: #F7B538;
}

.texts {
  margin-left: 30px;
  padding-bottom: 90px;
}

.create {
  font-size: 14px;
}

.psw {
  padding-bottom: 15px;
  font-size: 11px;
}

.btnblock {
  padding-top: 360px;
}
/*# sourceMappingURL=Connexion.css.map */