
.container{
height: 100%;
width: 100%;
font-family: Oswald;
}
.title{
    font-size: 35px;
}

input{
    width: 160px;
    padding: 5px;
    font-size:15px;
    border-style: solid;
}

input::placeholder {
    text-align: center;
    font-size:15px;
    
  }

  .btnsubmit{
      padding:15px;
    
    font-size: 15px;
  }

  select{
      background: white;
      width: 160px;
  }

  .div{
    border-style: solid;
    border-radius: 3px;
    font-family: Oswald;
    color: #000000;
    font-size: 20px;
    padding: 10px ;
    text-decoration: none;
    margin-bottom:15px;
    width: 230px;
    background-color:whitesmoke;
  }

  