body {
  background: url("Games.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  font-family: Oswald;
  background-position: center;
}

 

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 63px;
  letter-spacing: 1.15179px;
  color: #000000;
}


.games{
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

 

 .block {
  background: #f7b538;
  border-radius: 8px;
} 

/* .username {
  top: calc(50% - 36px / 2 - 198.09px);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #111111;
} */

hr {
  padding: 10px;
}

/* .participants {
  top: 53.3%;
  bottom: 42.27%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
} */

/* .places {
  right: 12.93%;
  top: calc(50% - 36px / 2 - 197.09px);
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
} */

/* .infos {
  top: 28.93%;
  bottom: 54.34%;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #111111;
} */




