*{
    font-family: Oswald;
}

.container{
max-width: 100%;
height: auto;
background-size: cover;
max-width: 100%;
background-position: center center;
background-attachment: fixed;

}

.title{
font-family: Oswald;
height: 74px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 74px;
text-align: left;
}

.button{
font-size: 20px;    
background-color: #F7B538;
margin-right: 5px;
border-style: none;
}
.button2{
    font-size: 20px;    
    background-color: transparent;
    margin-right: 5px;
    border-style: solid;
    outline: none;
    }



.créer{
    color: #F7B538;
    text-decoration: none;
}

.new{
    text-decoration: none;
    color: black;

    font-size: 18px;
}

.padding {
    padding-top: 150px;
}

::placeholder{
    color: black;
    text-align: center;
}

input{
    text-align: center;
    border: none;
}